{% extends 'base.html' %}
{% block content %}

    <h2> Movie Details</h2>
    {% if prediction %}
    <h3>Predicted Rating:{{ "{:.2f}".format(prediction) }}</h3>
    {% else %}
    <h3>Your Rating:{{ user_rating.score }}</h3>
    {% endif %}
    {% if beratement %}
    <h1>The judgmental Eye says: <br> {{ beratement }}</h1>
    {% endif %}
    <form action='/rate_movie/{{ movie_id }}' method='POST'>
    {% if 'user_id' in session %}
        <h3>Select your Rating:</h3>
        <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        </select>
        <input type='submit'>
    {% endif %}
    </form>
    <ul>
        <li>Title: {{ title }}</li>
        <li>Release Date: {{ released_at }}</li>
        <li><a href= '{{ imdb_url }}'>Visit on IMDB</a></li>
        <li> Average Rating:{{ "{:.2f}".format(avg) }}</li>
        <li> All ratings:     
            <ul>
                {% for rating in ratings %}
                <li>{{ rating.score }}
                {% endfor %}
            </ul>
    </ul>

{% endblock %}